body{
    background-color: #ECEFF1;
}

div[id='header']{
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #2196F3;
    top: 0;
    left: 0;
}

h1[id='title']{
    color: white;
    margin-top: 0px;
    padding-top: 11px;
    padding-left: 40px;
}

img[id='profile']{
    margin-top: 6px;
    border-radius: 50%;
}

div[id='login']{
    float: right;
    margin-top: 20px;
}

div[id='login'] > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

div[id='resister']{
    float: right;
    margin-top: 20px;
}

div[id='resister'] > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}